* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
}

.container {
        width: 95%;
        margin: 0 auto;
}

@font-face {
        font-family: lato;
        src: url(../font/Lato2OFL/Lato2OFL/Lato-Medium.ttf);
}

@font-face {
        font-family: ivm;
        src: url(../font/Ivm/IvyMode-Regular.ttf);
}

@font-face {
        font-family: popins;
        src: url(../font/Poppins/Poppins-Regular.ttf);
}

h2,
h3 {
        font-family: ivm;
}

p {
        font-family: lato;
}

h4,
h5 {
        font-family: popins;
}

.row {
        display: flex;
        flex-wrap: wrap;
}

.jc-sp-bt {
        justify-content: space-between;
}

.jc-center {
        justify-content: center;
}

.align-item-center {
        align-items: center;
}

.gap {
        column-gap: 25px;
}

.po-ab {
        position: absolute;
}

.po-rel {
        position: relative;
}

/* ------------------------ */
.col28 {
        width: 28%;
}

.col30 {
        width: 30%;
}

.col20 {
        width: 20%;
}

.col50 {
        width: 50%;
}

.col60 {
        width: 60%;
}

.col80 {
        width: 80%;
}

/* ---------------------------- */

.bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.717), rgba(0, 0, 0, 0.717)), url(../img/bg2.jpeg);
        background-size: cover;
        background-position: center;
}

.name h3 {
        font-size: 30px;
        padding: 15px 0;
        color: aliceblue;
        letter-spacing: 5px;
        text-transform: uppercase;
}

.name span {
        color: crimson;
}

.menu {
        display: flex;
        list-style: none;
}

.menu li a {
        font-size: 20px;
        padding: 15px 20px;
        color: aliceblue;
        text-decoration: none;
        font-family: lato;
        text-transform: uppercase;
        transition: all 0.7s;
}

li a:hover {
        color: crimson;
}

.hp {
        padding: 90px 0;
}

.header-text {
        width: 45%;
        padding: 80px 20px;
}

.header-text h2,
.header-text h4 {
        font-size: 60px;
        letter-spacing: 5px;
}

.header-text h2 {
        color: crimson;
}

.header-text h4 {
        color: aliceblue;
}

/* .header-btn {
        padding: 30px 0;
}

.header-btn button {
        padding: 20px 50px;
        font-size: 20px;
        background: none;
        border: 2px solid crimson;
        color: aliceblue;
} */

nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 100;
        padding: 0 30px;

}

/* ---------------------------- */
.sec1 {
        padding: 50px 0;
}

.sec1-text {
        width: 50%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
}

.sec1-text h4 {
        font-size: 50px;
        padding: 20px 0;
        letter-spacing: 5px;
        text-transform: uppercase;
}

.sec1-text span {
        color: crimson;
}

.sec1-text p {
        font-size: 20px;
        padding: 20px 0;
}

.sec1-box {
        background-color: rgb(248, 244, 245);
        border-radius: 5px;
        box-shadow: 1px 1px 15px gray;
        text-align: center;
        height: 385px;
}

.sec1-box-text {
        padding: 30px;
        line-height: 30px;
}

.sec1-box-text i {
        font-size: 55px;
        padding: 10px 0;
        color: crimson;
}

.sec1-box-text h4 {
        font-size: 25px;
        padding: 10px 0;
        font-weight: 600;
        text-transform: capitalize;
}

.sec1-box-text p {
        font-size: 20px;
        padding: 10px 0;
}

/* ----------------------sec2------------- */

.sec2 {
        padding: 50px 0;
}

.sec2-text1 {
        padding: 20px 0;
}

.sec2-text1 h4 {
        font-size: 50px;
        padding: 20px 0;
        /* padding-bottom: 40px; */
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
}

.sec2-text1 span {
        color: crimson;
}

.card {
        position: relative;
        width: 100%;
        height: 250px;
        border-radius: 10px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.7s;
        /* padding: 30px 50px; */
        padding: 20px;
        background-color: rgb(248, 244, 245);
        cursor: pointer;
        margin-top: 100px;
}

.card:hover {
        height: 350px;
}

.sec2-img {
        position: relative;
        width: 100%;
        height: 100%;
        /* transform: translateY(-80px); */
        z-index: 99;
        transition: 0.7s;
}

.sec2-img img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.sec2-img h4 {
        font-size: 25px;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
}

.sec2-text {
        /* padding: 10px; */
        text-align: center;
        transform: translateY(-250px);
        opacity: 0;
        transition: 0.7s;
}

.sec2-text h4 {
        font-size: 25px;
        padding: 10px 0;
        text-transform: uppercase;
}

.sec2-text p {
        font-size: 20px;
        padding: 10px 0;
}

.card:hover>.sec2-text {
        opacity: 1;
        transform: translateY(-180px);
}

.card:hover>.sec2-img {
        transform: translateY(-100px);
}

.card:hover>.sec2-img h4 {
        display: none;
}

/* .sec2-text h2 {
        color: #7f9ead;
} */

/* -------------------------sec3----------------- */
.sec3 {
        padding: 50px 0;
}

.sec3-img {
        width: 80%;
}

.sec3-img img {
        width: 100%;
}

.sec3-text {
        padding: 30px;
}

.sec3-text h4 {
        font-size: 50px;
        padding: 10px 0;
        letter-spacing: 5px;
        text-transform: uppercase;
}

.sec3-text span {
        color: crimson;
}

.sec3-text h5 {
        font-size: 20px;
        padding: 10px 0;
        letter-spacing: 5px;
        text-transform: uppercase;
}

.sec3-text p {
        font-size: 20px;
        padding: 20px 0;
}

.sec3-text p::first-letter {
        text-transform: uppercase;
        color: crimson;
        font-size: 40px;
}

.sec3-btn {
        padding: 30px 0;
}

.sec3-btn button {
        padding: 20px 50px;
        font-size: 20px;
        background: none;
        border: 2px solid crimson;
}

/* ------------------sec4----------------- */
.sec4 {
        padding: 50px 0;
}

.sec4-text {
        /* padding: 40px 0; */
}

.sec4-text a {
        text-decoration: none;
}

.sec4-text h4 {
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
}

.sec4-text span {
        color: crimson;
}

.sec4-box {
        background-color: rgb(248, 244, 245);
        border-radius: 5px;
        box-shadow: 2px 2px 15px gray;
        padding: 25px;
        color: black;
        height: 155px;
}

.sec4-box-icon {
        margin: 3px;
        background-color: crimson;
        border-radius: 10px;
        text-align: center;
}

.sec4-box-icon i {
        font-size: 30px;
        padding: 10px;
        color: #29323c;
}

.sec4-box h4 {
        font-size: 25px;
        padding: 10px 0;
        text-transform: capitalize;
}

.sec4-box p {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
}

.email p {
        font-size: 19px;
}

/* -------------------footer------------------- */

.footer {
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        padding: 30px 0;
}

.footer-text {
        text-align: center;
}

.footer-text h2 {
        font-size: 30px;
        color: aliceblue;
        letter-spacing: 5px;
        text-transform: uppercase;
}

.footer span {
        color: crimson;
}

.footer-text h4 {
        font-size: 23px;
        padding-top: 10px;
        padding-bottom: 20px;
        color: aliceblue;
        text-transform: capitalize;
}

.footer-text a {
        text-decoration: none;
        color: #29323c;
}

.footer-text i {
        font-size: 35px;
        padding: 10px;
        margin: 0 5px;
        background-color: aliceblue;
        border-radius: 50%;
}

.footer-text p {
        font-size: 15px;
        color: aliceblue;
        padding-top: 20px;
        padding-bottom: 10px;
}

/* --------------------------- */
.bb {
        padding: 100px 0;
}

.sec3-img {
        z-index: 10;
}

.sec3-img img {
        transition: 0.7s all;
        border: black 10px solid;
}

.sec3-img::before {
        content: "";
        position: absolute;
        width: 93%;
        height: 93.91%;
        border: 10px solid crimson;
        z-index: -1;
        transition: all 0.7s;
}

.sec3-img img:hover {
        transform: translate(30px, -30px);
        box-shadow: gray -5px 5px 15px;
        border-radius: 15px;
}


/* ---------------------------- */
.menu li a {
        display: inline-block;
        /* padding: 8px 2px; */
        /* transition: all 2s; */
}

.menu li a::after {
        content: "";
        width: 0%;
        height: 2px;
        background: crimson;
        display: block;
        margin: auto;
        transition: 0.5s;
}

.menu li a:hover::after {
        width: 100%;
}

/* ---------------- */
.header-btn button:hover {
        background-color: crimson;
}

.footer-text i:hover {
        background-color: crimson;
        color: aliceblue;
}

.sec4-box:hover {
        box-shadow: 1px 1px 10px gray;
}

.sec4-box:hover i {
        color: aliceblue;
}

.sec3-btn button:hover {
        background-color: crimson;
        color: aliceblue;
}

.sec4-box i,
.sec3-btn button,
.footer-text i,
.sec1-box i {
        transition: 0.7s all;
}


.sec1-box:hover {
        box-shadow: 1px 1px 10px gray;
}

.sec1-box:hover i {
        color: #29323c;
        font-size: 70px;
}

/* -------------------------------- */

.header-text::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        /* width: 100%; */
        /* background-color: black; */
        /* opacity: 0.7; */
        /* z-index: -1; */
}

/* .header-text {
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid #FFF;
        padding: 0 50px;
        justify-content: flex-start;
} */

.header-text h4,
.header-text h2 {
        display: block;
        width: fit-content;
        /* font-size: 4rem; */
        position: relative;
        color: transparent;
        animation: text_reveal 0.5s ease forwards;
        animation-delay: 1s;
        /* font-size: 60px; */
        /* letter-spacing: 5px; */
}

.header-text h4:nth-child(1) {
        animation-delay: 1s;
}

.header-text h4:nth-child(2) {
        animation-delay: 2s;
}

.header-text h2:nth-child(3) {
        animation: text_reveal_name 0.5s ease forwards;
        animation-delay: 3s;
}

.header-text h4 span,
.header-text h2 span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: crimson;
        animation: text_reveal_box 1s ease;
        animation-delay: 0.5s;
}

.header-text h4:nth-child(1) span {
        animation-delay: 0.5s;
}

.header-text h4:nth-child(2) span {
        animation-delay: 1.5s;
}

.header-text h2:nth-child(3) span {
        animation-delay: 2.5s;
}


/* @keyframes hamburger_puls {
        0% {
                opacity: 1;
                transform: scale(1);
        }

        100% {
                opacity: 0;
                transform: scale(1.4);
        }
} */

@keyframes text_reveal_box {
        50% {
                width: 100%;
                left: 0;
        }

        100% {
                width: 0;
                left: 100%;
        }
}

@keyframes text_reveal {
        100% {
                color: white;
        }
}

@keyframes text_reveal_name {
        100% {
                color: crimson;
                font-weight: 500;
        }
}

/* --------------------- */

.hamburger {
        display: none;
        cursor: pointer;
}

.bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: aliceblue;
}

/* .hide {
        display: none;
} */